In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline

Duration 4/9/2012 - 5/6/2012

Limitation
1. Not sure if this was the only promotion running within this duration and if 10% came from the same promotion
2. Don't have the data of user engagement in the period of no promotions
3. No accurate definition on new user 

Metrics:
1. trip status
2. actual time to arrival
3. average spend per trip
4. surge multiplier

Data Integrity:
* Check Duplication
1. 1 duplicated trip id with different driver ids in driver_trips - remove the one with missing data
2. 1 duplicated trip id with different rider ids in rider_trips - remove the one with unfulfilled trip status
3. 1 duplicated driver id with different first completed trip date - should check historical data to get the accurate first competed trip date then decide the right record > but only have 2-month data > delete both

bad data: completed trip > no payment & payout

rider_data: first completed trip > 1895

<font size="4"><font color='red'>**Data Loading & Cleaning: driver_trips**</font></font>

In [2]:
driver_trips = pd.read_excel('data_set_170705.xlsx', sheet_name='driver_trips')

In [3]:
driver_trips.head()

     trip_id  driver_id  actual_time_to_arrival  driver payout
0  b3cb-b9bf  4649-2f0a                3.516667         4.2368
1  8569-0fbf  4003-e2e7                2.633333         8.2432
2  86f2-e4cc  44af-7b74                1.333333         6.1952
3  aef6-924e  4909-aa90                1.700000         8.1856
4  921a-11d3  4e79-a40f                     NaN        11.8080

Check & Remove Duplicates

In [4]:
sum(driver_trips['trip_id'].duplicated())

1

In [5]:
driver_trips[driver_trips['trip_id'].duplicated()]

         trip_id  driver_id  actual_time_to_arrival  driver payout
33759  94a1-82d8  4e79-a40f                     NaN            0.0

In [6]:
driver_trips[driver_trips['trip_id']=='94a1-82d8']

         trip_id  driver_id  actual_time_to_arrival  driver payout
14974  94a1-82d8  4b99-c52e                5.116667         5.2032
33759  94a1-82d8  4e79-a40f                     NaN         0.0000

In [7]:
driver_trips.drop(33759, axis=0, inplace=True)

<font size="4"><font color='red'>**Data Loading & Cleaning: rider_trips**</font></font>

In [8]:
rider_trips = pd.read_excel('data_set_170705.xlsx', sheet_name='rider_trips')

In [9]:
rider_trips.head()

,trip_id,rider_id,trip_status,estimated_time_to_arrival,request_time,surge_multiplier,trip_price_pre_discount,rider_payment,start_geo,end_geo,discount,day_of_week,promo_flag,qualified_flag
0,ac9a-28a9,41bf-ae49,rider_canceled,1.433333,2012-04-09 00:00:00,1.0,0.000,0.000,Chelsea Court,Chelsea Court,0.0,1,0,0
1,8179-4dc1,4335-b80f,completed,6.916667,2012-04-09 00:04:00,1.0,6.496,6.496,Chelsea Court,Allen Abby,0.0,1,0,0
2,bbed-183b,8fa1-eb56,completed,0.433333,2012-04-09 00:06:00,1.0,5.296,5.296,Chelsea Court,Allen Abby,0.0,1,0,0
3,bb32-d147,4804-84e3,completed,5.916667,2012-04-09 00:06:00,1.0,8.136,8.136,Allen Abby,Chelsea Court,0.0,1,0,0
4,a71a-ddf0,1403-8ad9,completed,4.033333,2012-04-09 00:09:00,1.0,3.536,3.536,Chelsea Court,Blair Bend,0.0,1,0,0

Check & Remove Duplicates

In [10]:
sum(rider_trips['trip_id'].duplicated())

1

In [11]:
rider_trips[rider_trips['trip_id'].duplicated()]

,trip_id,rider_id,trip_status,estimated_time_to_arrival,request_time,surge_multiplier,trip_price_pre_discount,rider_payment,start_geo,end_geo,discount,day_of_week,promo_flag,qualified_flag
36431,94a1-82d8,ffc6-7d21,completed,4.616667,2012-04-26 21:37:00,1.0,6.504,6.504,Chelsea Court,Chelsea Court,0.0,4,0,0

In [12]:
rider_trips[rider_trips['trip_id']=='94a1-82d8']

,trip_id,rider_id,trip_status,estimated_time_to_arrival,request_time,surge_multiplier,trip_price_pre_discount,rider_payment,start_geo,end_geo,discount,day_of_week,promo_flag,qualified_flag
12389,94a1-82d8,fe7b-ea19,unfulfilled,NaN,2012-04-14 20:02:00,1.0,0.000,0.000,Chelsea Court,Chelsea Court,0.0,6,0,0
36431,94a1-82d8,ffc6-7d21,completed,4.616667,2012-04-26 21:37:00,1.0,6.504,6.504,Chelsea Court,Chelsea Court,0.0,4,0,0

In [13]:
rider_trips.drop(12389, axis=0, inplace=True)

<font size="4"><font color='red'>**Data Loading & Cleaning: driver_data**</font></font>

In [14]:
driver_data = pd.read_excel('data_set_170705.xlsx', sheet_name='driver_data')

In [15]:
driver_data.head()

,driver_id,first_completed_trip,lifetime_rating,lifetime_fares,lifetime_completed_trips
0,48dc-c2db,2010-11-18 00:36:00,4.816199,8038.104,877
1,49aa-b176,2011-12-29 15:34:00,4.793532,9428.024,967
2,4332-47bc,2010-08-13 16:14:00,4.924581,13578.024,1719
3,4004-efca,2012-02-12 22:40:00,4.408000,2020.952,172
4,4efa-33c0,2011-04-28 03:56:00,4.605660,15984.752,1755

In [16]:
# Check duplicates
sum(driver_data['driver_id'].duplicated())

1

In [17]:
driver_data[driver_data['driver_id'].duplicated()]

,driver_id,first_completed_trip,lifetime_rating,lifetime_fares,lifetime_completed_trips
9133,4a3c-ac69,2009-07-31 01:13:00,4.72957,33096.072,3674

In [18]:
driver_data[driver_data['driver_id']=='4a3c-ac69']

,driver_id,first_completed_trip,lifetime_rating,lifetime_fares,lifetime_completed_trips
5068,4a3c-ac69,2012-02-03 15:24:00,4.717063,33096.072,3674
9133,4a3c-ac69,2009-07-31 01:13:00,4.729570,33096.072,3674

In [19]:
# Number of trips that this driver had during this time
driver_trips[driver_trips['driver_id']=='4a3c-ac69']['trip_id'].count()

5

In [20]:
# Delete both records due to lack of historical data
driver_data.drop([5068,9133], axis=0, inplace=True)

<font size="4"><font color='red'>**Data Loading & Cleaning: rider_data**</font></font>

In [21]:
rider_data = pd.read_excel('data_set_170705.xlsx', sheet_name='rider_data')

In [22]:
rider_data.head()

,rider_id,first_completed_trip,lifetime_trips,first_trip_city_id,lifetime_payments,first_completed_trip_date_rider,promo_start_date,promo_end_date,new_user_flag,promo_flag_rider,qualified_flag_rider
0,040b-9e6e,2009-02-28 13:23:44,112.0,1020,3106.19200,2009-02-28,2012-04-09,2012-05-06,0,0,0
1,75cc-bc9e,2011-04-21 11:03:07,216.0,1020,1698.55200,2011-04-21,2012-04-09,2012-05-06,0,0,0
2,7b3b-5562,2010-03-25 02:35:06,188.0,1024,2101.36000,2010-03-25,2012-04-09,2012-05-06,0,0,0
3,a251-1bd5,2009-09-08 14:29:51,60.0,1032,683.38949,2009-09-08,2012-04-09,2012-05-06,0,0,0
4,1276-3268,2011-11-05 16:55:28,376.0,1032,2895.97600,2011-11-05,2012-04-09,2012-05-06,0,0,0

In [23]:
# Check duplicates
sum(rider_data['rider_id'].duplicated())

0

<font size="4"><font color='red'>**Data Aggregation**</font></font>

In [24]:
# combine all 4 tables into 1
trip_merge = pd.merge(pd.merge(pd.merge(rider_trips,driver_trips,how='left',on='trip_id'),
                      rider_data,how='left',on='rider_id'),
                      driver_data,how='left',on='driver_id')

In [25]:
# rename columns
trip_merge.rename(columns={'first_completed_trip_x':'first_completed_trip_rider', 
                           'first_completed_trip_y':'first_completed_trip_driver'}, inplace=True)

In [26]:
len(trip_merge)

59999

In [27]:
# remove completed trips with 0 rider payment and 0 driver payout
trip_merge = trip_merge.drop(trip_merge[(trip_merge.trip_status=='completed') & (trip_merge.rider_payment==0) 
                          & (trip_merge['driver payout']==0)].index)

In [28]:
len(trip_merge)

59994

In [29]:
trip_merge['payout ratio'] = trip_merge['driver payout']/trip_merge['trip_price_pre_discount']

In [30]:
trip_merge['payout ratio'].unique()

array([nan, 0.8, 0.8, 0.8])

In [31]:
trip_merge['request_date'] = pd.to_datetime(trip_merge['request_time']).dt.date

In [32]:
trip_merge['profit'] = np.where(trip_merge['discount']==0,
                                trip_merge['rider_payment']-trip_merge['driver payout'],
                                trip_merge['rider_payment']-trip_merge['driver payout']-trip_merge['trip_price_pre_discount']*0.1)

In [33]:
trip_merge.head()

,trip_id,rider_id,trip_status,estimated_time_to_arrival,request_time,surge_multiplier,trip_price_pre_discount,rider_payment,start_geo,end_geo,...,new_user_flag,promo_flag_rider,qualified_flag_rider,first_completed_trip_driver,lifetime_rating,lifetime_fares,lifetime_completed_trips,payout ratio,request_date,profit
0,ac9a-28a9,41bf-ae49,rider_canceled,1.433333,2012-04-09 00:00:00,1.0,0.000,0.000,Chelsea Court,Chelsea Court,...,0.0,0.0,0.0,2010-03-03 11:55:00,4.767662,33149.840,2909.0,NaN,2012-04-09,0.0000
1,8179-4dc1,4335-b80f,completed,6.916667,2012-04-09 00:04:00,1.0,6.496,6.496,Chelsea Court,Allen Abby,...,NaN,NaN,NaN,2012-04-03 22:32:00,NaN,2477.880,374.0,0.8,2012-04-09,1.2992
2,bbed-183b,8fa1-eb56,completed,0.433333,2012-04-09 00:06:00,1.0,5.296,5.296,Chelsea Court,Allen Abby,...,0.0,0.0,0.0,2010-12-10 01:35:00,4.868443,38502.304,3807.0,0.8,2012-04-09,1.0592
3,bb32-d147,4804-84e3,completed,5.916667,2012-04-09 00:06:00,1.0,8.136,8.136,Allen Abby,Chelsea Court,...,0.0,0.0,0.0,2010-08-21 04:14:00,4.894089,17347.376,1305.0,0.8,2012-04-09,1.6272
4,a71a-ddf0,1403-8ad9,completed,4.033333,2012-04-09 00:09:00,1.0,3.536,3.536,Chelsea Court,Blair Bend,...,0.0,0.0,0.0,2011-10-07 00:48:00,4.885876,16616.352,1844.0,0.8,2012-04-09,0.7072

In [34]:
trip_merge['rider_id'].nunique()

50829

In [35]:
trip_merge.columns

Index(['trip_id', 'rider_id', 'trip_status', 'estimated_time_to_arrival',
       'request_time', 'surge_multiplier', 'trip_price_pre_discount',
       'rider_payment', 'start_geo', 'end_geo', 'discount', 'day_of_week',
       'promo_flag', 'qualified_flag', 'driver_id', 'actual_time_to_arrival',
       'driver payout', 'first_completed_trip_rider', 'lifetime_trips',
       'first_trip_city_id', 'lifetime_payments',
       'first_completed_trip_date_rider', 'promo_start_date', 'promo_end_date',
       'new_user_flag', 'promo_flag_rider', 'qualified_flag_rider',
       'first_completed_trip_driver', 'lifetime_rating', 'lifetime_fares',
       'lifetime_completed_trips', 'payout ratio', 'request_date', 'profit'],
      dtype='object')

In [36]:
# Check missing values
trip_merge.isnull().sum()/len(trip_merge)

trip_id                            0.000000
rider_id                           0.000000
trip_status                        0.000000
estimated_time_to_arrival          0.041604
request_time                       0.000000
surge_multiplier                   0.000000
trip_price_pre_discount            0.000000
rider_payment                      0.000000
start_geo                          0.000000
end_geo                            0.000000
discount                           0.000000
day_of_week                        0.000000
promo_flag                         0.000000
qualified_flag                     0.000000
driver_id                          0.002434
actual_time_to_arrival             0.106877
driver payout                      0.002434
first_completed_trip_rider         0.040421
lifetime_trips                     0.040504
first_trip_city_id                 0.040421
lifetime_payments                  0.040504
first_completed_trip_date_rider    0.040421
promo_start_date                   0.040421
promo_end_date                     0.040421
new_user_flag                      0.040421
promo_flag_rider                   0.040421
qualified_flag_rider               0.040421
first_completed_trip_driver        0.002517
lifetime_rating                    0.024436
lifetime_fares                     0.002517
lifetime_completed_trips           0.002517
payout ratio                       0.077141
request_date                       0.000000
profit                             0.002434
dtype: float64

In [37]:
# trip_merge.to_csv('trip_merge.csv')

In [38]:
trip_cc = trip_merge[trip_merge.qualified_flag==1]

In [39]:
trip_cc.groupby('promo_flag')['trip_id'].count()

promo_flag
0    3239
1    3348
Name: trip_id, dtype: int64

In [40]:
# % of total trips by promo flag per day
trip_cc.groupby(['promo_flag', 'request_date'])['trip_id'].count()/trip_cc.groupby('promo_flag')['trip_id'].count()*100

promo_flag  request_date
0           2012-04-09       7.687558
            2012-04-10       5.372028
            2012-04-11       4.476690
            2012-04-12       8.428527
            2012-04-13       9.107749
            2012-04-16       4.600185
            2012-04-17       3.396110
            2012-04-18       3.210868
            2012-04-19       2.716888
            2012-04-20       5.649892
            2012-04-23       2.192035
            2012-04-24       2.809509
            2012-04-25       1.358444
            2012-04-26       6.576104
            2012-04-27       5.094165
            2012-04-30       7.347947
            2012-05-01       1.481939
            2012-05-02       2.037666
            2012-05-03       6.576104
            2012-05-04       9.879592
1           2012-04-09       8.452808
            2012-04-10       5.794504
            2012-04-11       4.510155
            2012-04-12       6.421744
            2012-04-13       8.811231
            2012-04-16       4.659498
            2012-04-17       4.121864
            2012-04-18       3.793309
            2012-04-19       2.747909
            2012-04-20       5.585424
            2012-04-23       2.419355
            2012-04-24       2.777778
            2012-04-25       1.105137
            2012-04-26       5.316607
            2012-04-27       5.585424
            2012-04-30       6.511350
            2012-05-01       1.373955
            2012-05-02       2.956989
            2012-05-03       6.929510
            2012-05-04      10.125448
Name: trip_id, dtype: float64

In [41]:
# distinct riders per group
trip_cc.groupby(['promo_flag', 'request_date'])['rider_id'].nunique()

promo_flag  request_date
0           2012-04-09      249
            2012-04-10      174
            2012-04-11      143
            2012-04-12      272
            2012-04-13      294
            2012-04-16      147
            2012-04-17      108
            2012-04-18      104
            2012-04-19       88
            2012-04-20      182
            2012-04-23       71
            2012-04-24       91
            2012-04-25       44
            2012-04-26      213
            2012-04-27      164
            2012-04-30      236
            2012-05-01       48
            2012-05-02       65
            2012-05-03      212
            2012-05-04      318
1           2012-04-09      283
            2012-04-10      193
            2012-04-11      151
            2012-04-12      215
            2012-04-13      295
            2012-04-16      155
            2012-04-17      138
            2012-04-18      127
            2012-04-19       92
            2012-04-20      187
            2012-04-23       81
            2012-04-24       93
            2012-04-25       37
            2012-04-26      176
            2012-04-27      187
            2012-04-30      215
            2012-05-01       46
            2012-05-02       98
            2012-05-03      232
            2012-05-04      339
Name: rider_id, dtype: int64

In [42]:
trip_cc.groupby('promo_flag')['trip_price_pre_discount'].mean()

promo_flag
0    6.904252
1    8.975149
Name: trip_price_pre_discount, dtype: float64

In [43]:
trip_cc.groupby('promo_flag')['rider_payment'].mean()

promo_flag
0    6.904252
1    8.077634
Name: rider_payment, dtype: float64

In [44]:
trip_cc.groupby('promo_flag')['driver payout'].mean()

promo_flag
0    5.523402
1    7.180119
Name: driver payout, dtype: float64

In [45]:
trip_cc.groupby(['promo_flag','day_of_week'])['trip_id'].count()

promo_flag  day_of_week
0           1               707
            2               423
            3               359
            4               787
            5               963
1           1               738
            2               471
            3               414
            4               717
            5              1008
Name: trip_id, dtype: int64

In [46]:
trip_cc.groupby(['promo_flag','trip_status'])['trip_id'].count()/trip_cc.groupby('promo_flag')['trip_id'].count()

promo_flag  trip_status
0           completed         0.752701
            rider_canceled    0.247299
1           completed         0.972521
            rider_canceled    0.027479
Name: trip_id, dtype: float64

In [47]:
trip_cc.groupby(['promo_flag','trip_status'])['rider_payment'].mean()

promo_flag  trip_status
0           completed         9.057933
            rider_canceled    0.349104
1           completed         8.222862
            rider_canceled    2.937835
Name: rider_payment, dtype: float64

In [48]:
trip_cc.groupby(['promo_flag','trip_status'])['surge_multiplier'].mean()

promo_flag  trip_status
0           completed         1.572026
            rider_canceled    1.631710
1           completed         1.573188
            rider_canceled    1.507609
Name: surge_multiplier, dtype: float64

In [49]:
trip_cc.groupby(['promo_flag','trip_status'])['driver payout'].mean()

promo_flag  trip_status
0           completed         7.246346
            rider_canceled    0.279283
1           completed         7.309211
            rider_canceled    2.611409
Name: driver payout, dtype: float64

In [50]:
trip_cc.groupby(['promo_flag','trip_status'])['profit'].mean()

promo_flag  trip_status
0           completed         1.811587e+00
            rider_canceled    6.982072e-02
1           completed        -3.773258e-16
            rider_canceled   -2.148040e-16
Name: profit, dtype: float64

In [51]:
trip_cc.groupby(['promo_flag','trip_status'])['trip_price_pre_discount'].mean()

promo_flag  trip_status
0           completed         9.057933
            rider_canceled    0.349104
1           completed         9.136514
            rider_canceled    3.264261
Name: trip_price_pre_discount, dtype: float64